# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Conda/virtual environments (if created inside project)
env/
.venv/
venv/
conda-env/
*.conda
*.tar.bz2

# Output files
*.xlsx
/output/

# Logs and temp files
*.log
*.tmp

# Environment secrets
.env
*.env

# Windows system files
Thumbs.db
desktop.ini